aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
asgiref
asttokens
attrs
backoff
bcrypt
build
cachetools
certifi
charset-normalizer
chroma-hnswlib
chromadb
click
colorama
coloredlogs
comm
dataclasses-json
debugpy
decorator
Deprecated
distro
docx2txt
durationpy
executing
fastapi
filelock
flatbuffers
frozenlist
fsspec
google-auth
googleapis-common-protos
greenlet
grpcio
h11
httpcore
httptools
httpx
huggingface-hub
humanfriendly
idna
importlib_metadata
importlib_resources
ipykernel
ipython
jedi
jiter
jsonpatch
jsonpointer
jupyter_client
jupyter_core
kubernetes
langchain==0.3.13
langchain-chroma==0.1.4
langchain-community==0.3.13
langchain-core>=0.3.56
langchain-openai==0.2.14
langchain-text-splitters==0.3.4
langsmith==0.2.6
markdown-it-py
marshmallow
matplotlib-inline
mdurl
mmh3
monotonic
mpmath
multidict
mypy-extensions
nest-asyncio
numpy
oauthlib
onnxruntime
openai
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-fastapi
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
orjson
overrides
packaging
parso
pip
platformdirs
posthog
prompt_toolkit
protobuf
psutil
pulsar-client
pure_eval
pyasn1
pyasn1_modules
pydantic
pydantic_core
pydantic-settings
Pygments
PyPika
pyproject_hooks
pyreadline3
python-dateutil
python-dotenv
PyYAML
pyzmq
regex
requests
requests-oauthlib
requests-toolbelt
rich
rsa
setuptools
shellingham
six
sniffio
SQLAlchemy
stack-data
starlette
sympy
tenacity
tiktoken
tokenizers
tornado
tqdm
traitlets
typer
typing_extensions
typing-inspect
urllib3
uvicorn
watchfiles
wcwidth
websocket-client
websockets
wrapt
yarl
zipp